spring:
  jpa:
    properties:
      hibernate:
        jdbc:
          batch_size: 1000
        order_inserts: true
        order_updates: true
  datasource:
#    url: ${app.postgres.url}
#    username: ${app.postgres.username}
#    password: ${app.postgres.password}
    hikari:
      connection-init-sql: SET search_path TO atlaxys, public;
      connection-timeout: 10000 # Default: 30_000 = 30 Sekunden
      idle-timeout: 120000 # Default: 600_000 = 10 Minuten
      maximum-pool-size: 3 # Default: 10
      minimum-idle: 1 # Default: maximumPoolSize

  flyway:
    enabled: true
    clean-disabled: false
    locations: classpath:db/migration/dev

  devtools:
    livereload:
      enabled: true
    restart:
      trigger-file: .reloadtrigger

  config:
    activate:
      on-profile: dev

  ssl:
    bundle:
      pem:
        microservice:
          reload-on-update: true
          keystore:
            private-key: "${app.keys.path}/key.pem"
            certificate: "${app.keys.path}/certificate.crt"
          truststore:
            certificate: "${app.keys.path}/certificate.crt"

# Applikationsspezifische Einstellungen
app:
  seed:
    enabled: true
  states:
    api:
      key: ${CSC_API_KEY}
  server:
    port: ${SERVER_PORT}

  postgres:
    url: jdbc:postgresql://${POSTGRES_SQL_HOST}:${POSTGRES_SQL_PORT}/${POSTGRES_SQL_DB}?currentSchema=atlaxys,public
    username: ${POSTGRES_SQL_USERNAME}
    password: ${POSTGRES_SQL_PASSWORD}

  keys:
    path: ${KEYS_PATH}

  http2:
    enabled: ${HTTPS:true}

  ssl:
    enabled: ${HTTPS:true}